<a href="https://colab.research.google.com/github/caiomasseu/FSI/blob/master/FSI2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import plot_roc_curve
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [0]:
DigiDB = pd.read_csv("DigiDB_digimonlist.csv",index_col=0)
DigiDB

                  Digimon Stage     Type  ... Lv50 Def  Lv50 Int  Lv50 Spd
Number                                    ...
1                 Kuramon  Baby     Free  ...       69        68        95
2                 Pabumon  Baby     Free  ...       76        69        68
3                 Punimon  Baby     Free  ...       87        50        75
4                 Botamon  Baby     Free  ...       95        76        61
5                 Poyomon  Baby     Free  ...       59        95        86
...                   ...   ...      ...  ...      ...       ...       ...
245            Valkyrimon  Mega     Free  ...      129       129       168
246       ShineGreymon BM  Mega  Vaccine  ...      104        84       168
247     MirageGaogamon BM  Mega     Data  ...      104       158       174
248            Ravemon BM  Mega  Vaccine  ...      139       144       213
249            Rosemon BM  Mega     Data  ...      139       159       143

[249 rows x 12 columns]

In [0]:
DigiDB['BB'] = np.where(DigiDB['Stage']=='Baby', '1', '0')
DigiDB['Mega'] = np.where(DigiDB['Stage']=='Mega', '1', '0')
DigiDB

                  Digimon Stage     Type Attribute  ...  Lv50 Int  Lv50 Spd  BB  Mega
Number                                              ...
1                 Kuramon  Baby     Free   Neutral  ...        68        95   1     0
2                 Pabumon  Baby     Free   Neutral  ...        69        68   1     0
3                 Punimon  Baby     Free   Neutral  ...        50        75   1     0
4                 Botamon  Baby     Free   Neutral  ...        76        61   1     0
5                 Poyomon  Baby     Free   Neutral  ...        95        86   1     0
...                   ...   ...      ...       ...  ...       ...       ...  ..   ...
245            Valkyrimon  Mega     Free      Wind  ...       129       168   0     1
246       ShineGreymon BM  Mega  Vaccine      Fire  ...        84       168   0     1
247     MirageGaogamon BM  Mega     Data     Light  ...       158       174   0     1
248            Ravemon BM  Mega  Vaccine      Wind  ...       144       213   0     1
249            Rosemon BM  Mega     Data     Plant  ...       159       143   0     1

[249 rows x 14 columns]

In [0]:

X_DigiDB = DigiDB.loc[: , ["Lv 50 HP",'Lv50 Atk','BB',"Lv50 Def","Lv50 Int","Lv50 Spd"	] ]
X_DigiDB.head()

        Lv 50 HP  Lv50 Atk BB  Lv50 Def  Lv50 Int  Lv50 Spd
Number
1            590        79  1        69        68        95
2            950        76  1        76        69        68
3            870        97  1        87        50        75
4            690        77  1        95        76        61
5            540        54  1        59        95        86

In [0]:
y_DigiDB = DigiDB.Stage
y_DigiDB.head()

Number
1    Baby
2    Baby
3    Baby
4    Baby
5    Baby
Name: Stage, dtype: object

In [0]:
#from sklearn.naive_bayes import GaussianNB tentamos usar Gaussian mas a accuracia foi muito inferior
model = RandomForestClassifier()

In [0]:
from sklearn.model_selection import train_test_split
Xtrain, Xtest, ytrain, ytest = train_test_split(X_DigiDB, y_DigiDB, random_state=42)

In [0]:
model.fit(Xtrain, ytrain)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [0]:
y_model = model.predict(Xtest)

In [0]:
y_model

array(['Mega', 'In-Training', 'Champion', 'Champion', 'Ultimate', 'Mega',
       'Mega', 'Mega', 'Rookie', 'Champion', 'Mega', 'Mega', 'Mega',
       'Mega', 'Champion', 'Mega', 'Mega', 'Rookie', 'Ultimate', 'Rookie',
       'Mega', 'Rookie', 'Ultimate', 'Champion', 'Mega', 'Rookie',
       'Champion', 'In-Training', 'Rookie', 'Ultimate', 'Mega', 'Rookie',
       'Ultimate', 'Ultimate', 'Rookie', 'Ultimate', 'Rookie', 'Mega',
       'Mega', 'Ultimate', 'Ultimate', 'Champion', 'Ultimate', 'Mega',
       'Mega', 'Rookie', 'Mega', 'Champion', 'Mega', 'Rookie', 'Ultimate',
       'Ultimate', 'Mega', 'Ultimate', 'Ultimate', 'Champion', 'Mega',
       'Ultimate', 'Mega', 'Ultimate', 'Mega', 'Ultimate', 'Ultimate'],
      dtype=object)

In [0]:
from sklearn.metrics import  accuracy_score
accuracy_score(ytest,y_model)

0.9206349206349206